<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.java.myspringbootdemo02.Persistence.mapper.ICustomerManagementMapper">
    <resultMap id="BASE_RESULT_MAP" type="com.java.myspringbootdemo02.Common.po.CustomerManagementPO">
        <id property="id" column="id"/>
        <result property="customerNum" column="customer_num"/>
        <result property="country" column="country"/>
        <result property="companyName" column="company_name"/>
        <result property="companyAddress" column="company_address"/>
        <result property="customerName" column="customer_name"/>
        <result property="password" column="password"/>
        <result property="phone" column="phone"/>
        <result property="wechatNum" column="wechat_num"/>
        <result property="state" column="state"/>
        <result property="followedBy" column="follwed_by"/>
        <result property="description" column="description"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="BASE_TABLE">
        customer_management
    </sql>

    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO
        <include refid="BASE_TABLE"/>
        (customer_num, country, company_name, company_address, customer_name, `password`,
        phone, wechat_num, state, follwed_by, `description`, create_time, update_time)
        VALUES (#{customerNum}, #{country}, #{companyName}, #{companyAddress}, #{customerName}, #{password}, #{phone},
        #{wechatNum}, #{state}, #{followedBy}, #{description}, #{createTime}, #{updateTime})
    </insert>

    <!-- Update -->
    <update id="update">
        UPDATE
        <include refid="BASE_TABLE"/>
        <set>
            <if test="customerNum != null">customer_num = #{customerNum},</if>
            <if test="country != null">country = #{country},</if>
            <if test="companyName != null">company_name = #{companyName},</if>
            <if test="companyAddress != null">company_address = #{companyAddress},</if>
            <if test="customerName != null">customer_name = #{customerName},</if>
            <if test="password != null">`password` = #{password},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="wechatNum != null">wechat_num = #{wechatNum},</if>
            <if test="state != null">state = #{state},</if>
            <if test="followedBy != null">follwed_by = #{followedBy},</if>
            <if test="description != null">`description` = #{description},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime}</if>
        </set>
        WHERE id = #{id}
    </update>
    <update id="batchDisable">
        update
        <include refid="BASE_TABLE"/>
        set state = 0 where id in
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>
    <select id="get" resultMap="BASE_RESULT_MAP">
        select * from
        <include refid="BASE_TABLE"/>
        where id = #{id}
    </select>
    <select id="list" resultMap="BASE_RESULT_MAP">
        select * from
        <include refid="BASE_TABLE"/>
    </select>
</mapper>

