<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间映射到com.mybatis_demo.mapper.UserMapper类-->
<mapper namespace="com.java.myspringbootdemo02.Persistence.mapper.IUserMapper">
    <insert id="addUser" parameterType="com.java.myspringbootdemo02.Common.po.UserPo">
        insert into user_management(user_name, password, phone, dept, status, hire_time, create_time, update_time, `statee`)
        values (#{userName}, #{password}, #{phone}, #{dept}, #{status}, #{hireTime}, now(), now(), #{statee})
    </insert>

    <insert id="batchAdd" parameterType="java.util.List">
        insert into user_management(`user_name`, `password`, `phone`, `dept`, `status`, `hire_time`, `create_time`, `update_time`, `statee`)
        values
        <foreach collection="list" separator="," item="item" index="index">
        (#{item.userName}, #{item.password}, #{item.phone}, #{item.dept}, #{item.status}, #{item.hireTime}, now(), now(), #{item.statee})
        </foreach>
    </insert>

    <sql id="allFields">
        id, user_name, phone, dept, status, hire_time, create_time, update_time, `statee`
    </sql>
    <select id="findByCriteria" resultType="com.java.myspringbootdemo02.Common.po.UserPo">
        select <include refid="allFields"></include> from user_management
        <where>
            1=1
            <if test="userName!=null and userName!=''">
                and user_name=#{userName}
            </if>
            <if test="startTime!=null and startTime!='' and endTime!=null and endTime!=''">
                and hire_time between #{startTime} and #{endTime}
            </if>
        </where>
    </select>

    <select id="findByPage" resultType="com.java.myspringbootdemo02.Common.po.UserPo">
select <include refid="allFields"></include> from user_management
<where>
    1=1
    <if test="userQueryVo.userName!=null and userQueryVo.userName!=''">
    and user_name=#{userQueryVo.userName}
    </if>
    <if test="userQueryVo.startTime!=null and userQueryVo.startTime!='' and userQueryVo.endTime!=null and userQueryVo.endTime!=''">
    and hire_time between #{userQueryVo.startTime} and #{userQueryVo.endTime}
    </if>
</where>
limit #{map.startIndex},#{map.pageSize}
    </select>

    <select id="findAllUsers" resultType="com.java.myspringbootdemo02.Common.po.UserPo">
        select <include refid="allFields"></include> from user_management
    </select>

    <select id="findUserListCount" resultType="java.lang.Integer">
        select count(1) from user_management
        <where>
            1=1
            <if test="userName!=null and userName!=''">
                and user_name=#{userName}
            </if>
            <if test="startTime!=null and startTime!='' and endTime!=null and endTime!=''">
                and hire_time between #{startTime} and #{endTime}
            </if>
        </where>
    </select>

    <select id="selectDeptList" resultType="java.lang.String">
        select distinct dept from user_management
    </select>
    <select id="selectStatusList" resultType="java.lang.Integer">
        select distinct status from user_management
    </select>
    <select id="selectStateList" resultType="java.lang.Integer">
        select distinct statee from user_management
    </select>
    <select id="getById" resultType="com.java.myspringbootdemo02.Common.po.UserPo">
        select <include refid="allFields"></include> from user_management where id=#{id}
    </select>

    <update id="updateUserById">
        update user_management
        <set>
        update_time=CURRENT_TIMESTAMP,
        <if test="userName!=null and userName!=''">
        user_name=#{userName},
        </if>
            <if test="password!=null and password!=''">
            password=#{password},
            </if>
            <if test="phone!=null and phone!=''">
            phone=#{phone},
            </if>
            <if test="dept!=null and dept!=''">
            dept=#{dept},
            </if>
            <if test="status!=null and status!=''">
            status=#{status},
            </if>
            <if test="hireTime!=null and hireTime!=''">
            hire_time=#{hireTime},
            </if>
            <if test="statee!=null and statee!=''">
                statee=#{statee}
            </if>
        </set>
        where id=#{id}
    </update>

    <delete id="deleteUserById">
        delete from user_management where id=#{id}
    </delete>

    <delete id="deleteUserByIds">
        delete from user_management where id in
        <foreach collection="list" open="(" close=")" separator="," item="id">
            #{id}
        </foreach>
    </delete>
</mapper>

